li{
    list-style-type: none;
}
a{
    text-decoration : none;
    color :black;
}

header{
    background : #8e9091;
}
header h1{
    font-size: 24px
}
footer{
    position : fixed;
    left:0;
    bottom:0;
    height : 50px;
}

.corps{
    margin-left : 0;
}
#avatar img{
    border-radius : 50%;
    height : 150px;
    box-shadow : 0 0 5px black;
}
#social-link{
    font-size : 1.8em;
    display : flex;
    justify-content : space-around;
   
}
#social-link i {
    color : #f1da5c;
}
nav{
    color : white
}
/* Partie droite */
#entete{
    background : #FCDFFF url('./ima ges/bgmain.jpg') no-repeat fixed;
    background-size : 100%;
    height : 100vh;
    
}
main{
    background : #FCDFFF;
}
#apropos{
    height : 100vh;
    background : white;

}